.git
.github

.env
.env.*
!.env.example

storage/*.key
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

node_modules
resources/node_modules
vendor

compose*.yml

*.md
